
/*##### Criação de Variáveis #####*/
:root {
  --hue: 250; 
  /* HSL color mode */
  --base-color: hsl(var(--hue) 28% 16%); /* azul escuro */ /* botão active */
  --base-color-second: hsl(var(--hue) 28% 32%); /* botão padrão */
  --base-color-alt: hsl(var(--hue) 28% 24%); /* botão hover */ 

  --title-color: hsl(var(--hue) 28% 16%);
  --text-color: hsla(0, 30%, 5%, 0.9);
  --text-color-light: hsl(0, 0%, 96%); /* f6f6f6 */
  --body-color: hsl(0, 0%, 98%); /* fafafa */
  --body-color-alt: hsl(0, 0%, 96%); /* f6f6f6 */
  --detail-color: hsl(359, 79%, 56%);
  --shadow: hsl(0, 0%, 64%);

  /*##### Fontes #####*/
  --title-body: 'Comfortaa', cursive;
  --corpo-body: 'Raleway', sans-serif;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--corpo-body);
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased; 
}

h1 {
  font: 700 1.875rem var(--title-body);
  color: var(--title-color);
  -webkit-font-smoothing: auto; 
}

