/* ===== Layout ===== */
.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.span {
  color: var(--detail-color);
}

.button {
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background-color: var(--base-color-second);
  box-shadow: 3px 3px 5px var(--shadow);
  color: var(--text-color-light);
  font-weight: 700;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.button:active {
  background-color: var(--base-color);
}

.button a {
  color: var(--text-color-light);
  font-weight: 700;
}

/* ===== Logo ===== */
.logo {
  width: 25%;
}

/* ===== Images ===== */
img {
  width: 100%;
  height: auto;
}

img.image {
  width: 80%;
  height: auto;
}

/* ===== Header ===== */
#header {
  display: flex;
  background-color: var(--body-color-alt);
  border-bottom: 1px solid #E4E4E4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* ===== Navigation ===== */
nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}




main {
  margin-top: 4.5rem;
}

/* ===== About ===== */

#about .image-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about .image-text h1 {
  font-size: 1.6rem;
  line-height: 3rem;
}

#about .text h2, #about .text p {
  text-align: center;
}

/* ===== Formulário ===== */
form {
  margin-top: 20px;
}

legend {
  color: var(--detail-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px dashed var(--detail-color);
  padding: 20px;
}

label {
  color: var(--base-color);
  font-weight: 700;
}

input {
  margin: 5px 0 20px;
  height: 25px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--base-color);
}

input:focus {
  outline: var(--detail-color);
  border-bottom: 1px solid var(--detail-color);
}

.policy-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 5px 0 20px;
}

fieldset button {
  display: block;
  margin: 0 auto;
}

/* #### benefícios #### */



